body{
  background-color: #CACFD2 
 
}
.container{
  margin: 0 auto;
  margin-top: 50px;
  min-height: 100vh;
  width: 216mm;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(7,auto);
  background-color: #fff;


}
.container >*{
  background-color: #fff;
 
}
h3{
  
  border-bottom: solid 2px ;
  padding-bottom: 1rem;
}
h5{
  background-color: #dddddd ;
  padding-left: 1rem;
  border-radius: 2%;
}
.Foto{
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: #21a95d;
  color: azure;
}
.BarraLateral{
  grid-column: 1/2;
  grid-row: 2/5;
  padding: 10px ;
  background-color: #4db36c;
  color: azure;
}
.PieLateral{
  grid-column: 1/2;
  grid-row: 5/8;
  background-color: #4db36c;
  color: azure;
}
.Experiencia{
  grid-column: 2/4;
  grid-row: 1/4;
  margin-left: 2rem;
  margin-right: 2rem;
  
}
.Educacion{
  grid-column: 2/4;
  grid-row: 4/6;
  margin-left: 2rem;
  margin-right: 2rem;
}
.Skills{
  grid-column: 2/4;
  grid-row: 6/8;
  margin-left: 2rem;
  margin-right: 2rem;
}

img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 2rem;
}
label {
  padding-right: 10px;
  font-size: 1rem;
}